{% extends "base.html" %}
{% block content %}
    {% if session['name_email'] == config.ADMIN %}

        <body>
        <div class="form-wrapper">
            <form class="contactus contactus--decor contactus--facebook" name="passwordForm" method="POST"
                  action="{{ url_for('admin.password_conf_get') }}">

                {{ form.csrf_token }}

                {{ form.length }}
                {% if form.length.errors %}
                    <div class='alert alert-danger'>
                        {% for error in form.length.errors %}
                            <span class='mr-1'>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form__inner-wrapper">
                    {{ form.upper }}
                    <label>{{ form.upper.label }}</label>
                    {% if form.upper.errors %}
                        <div class='alert alert-danger'>
                            {% for error in form.upper.errors %}
                                <span class='mr-1'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form__inner-wrapper">
                    {{ form.lower }}
                    <label>{{ form.lower.label }} </label>
                    {% if form.lower.errors %}
                        <div class='alert alert-danger'>
                            {% for error in form.lower.errors %}
                                <span class='mr-1'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form__inner-wrapper">
                    {{ form.digits }}
                    <label>{{ form.digits.label }} </label>
                    {% if form.digits.errors %}
                        <div class='alert alert-danger'>
                            {% for error in form.digits.errors %}
                                <span class='mr-1'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form__inner-wrapper">
                    {{ form.spec }}
                    <label>{{ form.spec.label }} </label>
                    {% if form.spec.errors %}
                        <div class='alert alert-danger'>
                            {% for error in form.spec.errors %}
                                <span class='mr-1'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {{ form.history }}
                {% if form.history.errors %}
                    <div class='alert alert-danger'>
                        {% for error in form.history.errors %}
                            <span class='mr-1'>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form__inner-wrapper">
                    {{ form.use_dict }}
                    <label>{{ form.use_dict.label }}</label>
                    {% if form.use_dict.errors %}
                        <div class='alert alert-danger'>
                            {% for error in form.use_dict.errors %}
                                <span class='mr-1'>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {{ form.tries }}
                {% if form.tries.errors %}
                    <div class='alert alert-danger'>
                        {% for error in form.tries.errors %}
                            <span class='mr-1'>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <input class="contactus__inner-item contactus__inner-submit" type="submit" value="Submit"
                       name="btn" id="submitForm">
            </form>
        </div>

        </body>
    {% endif %}
{% endblock %}