{% extends "base.html" %}
{% block content %}

<div class="form-wrapper">
    <form class="contactus contactus--decor contactus--facebook" name="registerForm" method="POST"
          action="{{ url_for('users.change_password_get') }}">
        {{form.csrf_token}}

        {{form.username}}
        {% if form.username.errors %}
        <div class='alert alert-danger'>
            {% for error in form.username.errors %}
            <span class='mr-1'>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{form.email}}
        {% if form.email.errors %}
        <div class='alert alert-danger'>
            {% for error in form.email.errors %}
            <span class='mr-1'>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{form.password}}
        {% if form.password.errors %}
        <div class='alert alert-danger'>
            {% for error in form.password.errors %}
            <span class='mr-1'>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{form.re_password}}
        {% if form.re_password.errors %}
        <div class='alert alert-danger'>
            {% for error in form.re_password.errors %}
            <span class='mr-1'>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}
        <input class="contactus__inner-item contactus__inner-submit" type="submit" value="Submit"
               name="btn" id="submitForm">
    </form>
</div>
{% endblock %}